#Сет с сырыми данными для классов 0-3: healthy 1, 2, 3; bpfi 3; bpfo 3; bsf.

In [1]:
import os
import numpy as np
import pandas as pd

# Словарь для хранения данных
data = {}

# Список состояний системы и соответствующие пути к данным
states = [
    ['Healthy_1_100', os.path.normpath(r'dataset/Electric/Motor-2/100/healthy 1'), None],
    ['Healthy_2_100', os.path.normpath(r'dataset/Electric/Motor-2/100/healthy 2'), None],
    ['Healthy_3_100', os.path.normpath(r'dataset/Electric/Motor-2/100/healthy 3'), None],
    ['BPFI', os.path.normpath(r'dataset/Electric/Motor-2/100/bearing bpfi 3'), None],
    ['BPFO',os.path.normpath(r'dataset/Electric/Motor-2/100/bearing bpfo 3'), None],
    ['BSF', os.path.normpath(r'dataset/Electric/Motor-2/100/bearing bsf'), None],
]

In [2]:
# Костыль на создание списков лейблов для присоединения к DataFrame'ам. Включает длину каждого сета из .csv файлов
labels = [
    np.zeros(10800000),
    np.zeros(9000000),
    np.zeros(8700000),
    np.ones(1500000),
    np.array([2 for k in range(2100000)]),
    np.array([3 for k in range(1500000)])
]
labels

[array([0., 0., 0., ..., 0., 0., 0.]),
 array([0., 0., 0., ..., 0., 0., 0.]),
 array([0., 0., 0., ..., 0., 0., 0.]),
 array([1., 1., 1., ..., 1., 1., 1.]),
 array([2, 2, 2, ..., 2, 2, 2]),
 array([3, 3, 3, ..., 3, 3, 3])]

In [3]:
data_iter = []
i = 0
for state in states:
    print(state[0])  # Выводим текущее состояние системы
    path = state[1]  # Путь к данным

    # Проверяем, существует ли директория
    if not os.path.exists(path):
        print(f"Директория не существует: {path}")
        continue

    columns_name = []
    channels_data = []

    # Проходим по файлам в директории
    for ch_file in os.listdir(path):
        # Загружаем данные из файла, убираем колонку 'time'
        channel = pd.read_csv(os.path.join(path, ch_file)).drop(columns='time')
        ch_num = int(ch_file[-5:-4])  # Определяем номер канала
        columns_name.append(f'i_{ch_num}' if ch_num < 4 else f'v_{ch_num-3}')
        channels_data.append(channel.to_numpy().astype(np.float32).flatten(order='F'))

    ch_shape = channel.shape
    # Генерируем labels
    columns_name.append('label')
    channels_data.append(labels[i])
    # Формируем DataFrame и сохраняем его в словарь
    channels_data = pd.DataFrame(np.vstack(channels_data).T, columns=columns_name)
    data_iter.append(channels_data)
    print(channels_data)
    i += 1

Healthy_1_100
                 v_1        i_3         v_2        i_2         v_3        i_1  \
0        -125.253738 -24.287834  330.519867  22.242159 -192.438904   3.008112
1        -172.212433 -24.350483  331.956482  22.851290 -190.253326   2.451916
2        -163.295639 -24.382334  337.171875  23.583891 -184.354675   1.823028
3        -168.528625 -24.521708  336.399567  24.197058 -184.450928   1.305648
4        -181.449966 -24.620201  339.193451  24.997971 -180.946472   0.647593
...              ...        ...         ...        ...         ...        ...
10799995  187.444382 -23.758322  184.439835  -1.999077 -340.498993  26.017851
10799996  180.922272 -24.504080  182.585968  -1.332109 -347.319000  26.106604
10799997  175.655731 -25.214413  180.371811  -0.725094 -350.073486  26.237461
10799998  115.721046 -25.602055  186.896454   0.013460 -344.033966  25.805588
10799999  124.727783 -25.742361  201.877289   0.980156 -329.480011  25.043806

          label
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
10799995    0.0
10799996    0.0
10799997    0.0
10799998    0.0
10799999    0.0

[10800000 rows x 7 columns]
Healthy_2_100
                v_3        i_3         v_1        i_1         v_2        i_2  \
0       -335.129517 -18.236973  201.783478  25.132534  149.876144  -6.760721
1       -327.739136 -18.717667  209.835037  25.377304   96.109985  -6.543503
2       -334.791656 -19.581701  203.177887  25.421497  175.108398  -5.647868
3       -340.316406 -20.410074  198.107040  25.586872  118.004715  -5.043364
4       -336.875549 -21.216825  201.827225  25.928846  149.878174  -4.501009
...             ...        ...         ...        ...         ...        ...
8999995  140.860168  -4.066073 -312.845795 -20.449181  213.418411  25.718542
8999996  145.585587  -3.106633 -326.248566 -21.087954  199.295349  25.361582
8999997  103.728821  -3.136905 -317.401184 -21.359682  207.375885  25.636612
8999998  175.940979  -2.322728 -324.783691 -21.850996  199.234879  25.373623
8999999  122.947708  -1.947326 -327.728729 -22.212860  195.586365  25.296371

         label
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
8999995    0.0
8999996    0.0
8999997    0.0
8999998    0.0
8999999    0.0

[9000000 rows x 7 columns]
Healthy_3_100
               i_1         v_1       i_2         v_3        i_3         v_2  \
0       -24.818018 -192.112732  3.266342  344.605621  21.978172 -134.092484
1       -25.095282 -196.047958  2.767444  341.234467  22.657877 -153.376892
2       -25.254032 -187.144760  1.980161  350.365723  23.643633 -176.291733
3       -25.542955 -185.151764  1.319529  352.719696  24.534286 -161.298752
4       -25.811359 -178.834106  0.608526  356.516357  25.515337 -179.750687
...            ...         ...       ...         ...        ...         ...
8699995  24.645401  205.144318 -6.452146 -331.979034 -18.139307  112.650490
8699996  24.773260  205.778381 -5.856581 -331.888916 -18.790607  168.672897
8699997  24.821527  195.736267 -5.125861 -342.467957 -19.602037  155.874832
8699998  25.073395  199.586914 -4.715230 -339.125183 -20.238325  144.926239
8699999  25.212217  191.888733 -3.902749 -347.129883 -21.150522  187.272018

         label
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
8699995    0.0
8699996    0.0
8699997    0.0
8699998    0.0
8699999    0.0

[8700000 rows x 7 columns]
BPFI
              i_1         v_3        i_3         v_1        i_2         v_2  \
0       -2.789422  -86.782715 -23.408894 -202.542755  27.308250  317.742889
1       -3.039410 -155.193619 -23.701445 -194.183975  27.833622  325.102264
2       -3.439223  -55.018333 -23.108219 -200.794174  27.737652  318.533691
3       -3.774442 -132.457260 -22.866932 -207.162094  27.700216  311.592834
4       -3.984706  -96.750557 -23.032097 -197.533066  28.193699  320.781464
...           ...         ...        ...         ...        ...         ...
1499995 -7.388031  218.658417  24.316689   94.801712 -17.222050 -307.083160
1499996 -6.236755  204.718506  24.008982  168.861404 -18.041708 -321.635040
1499997 -6.033747  206.203033  24.047194   87.660408 -18.361822 -320.583740
1499998 -5.411234  206.802979  24.003656  161.716705 -18.876574 -320.547943
1499999 -4.580837  196.568466  23.863138  136.565918 -19.650082 -331.341370

         label
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
...        ...
1499995    1.0
1499996    1.0
1499997    1.0
1499998    1.0
1499999    1.0

[1500000 rows x 7 columns]
BPFO
                v_2        i_3         v_1        i_1         v_3       i_2  \
0        204.001328 -29.124916  111.951683  25.696407 -327.195190  3.898792
1        193.945404 -29.565163  150.591766  26.031061 -336.135223  4.034131
2        203.538757 -29.444283   59.869064  25.207748 -326.289795  4.674717
3        204.286072 -29.639090  150.370590  25.186493 -324.536072  5.009174
4        199.020996 -29.775494   77.006104  25.031528 -329.297729  5.214654
...             ...        ...         ...        ...         ...       ...
2099995 -233.828812  30.442410  -62.034222 -23.062185  301.464478 -7.364475
2099996 -218.486923  30.987078 -144.566925 -23.715576  316.213257 -7.230950
2099997 -230.808914  30.680567    0.054345 -22.742214  304.612244 -7.819339
2099998 -234.441971  30.708250 -129.830414 -22.663977  300.556458 -8.113349
2099999 -223.306824  30.892830  -45.602795 -22.668550  311.596436 -8.107867

         label
0          2.0
1          2.0
2          2.0
3          2.0
4          2.0
...        ...
2099995    2.0
2099996    2.0
2099997    2.0
2099998    2.0
2099999    2.0

[2100000 rows x 7 columns]
BSF
               i_3         v_1         v_2        i_1        i_2         v_3  \
0       -12.109005  265.662720   -6.430438  27.285393 -15.341341 -266.179718
1       -12.749065  240.663101  103.340919  26.767038 -14.122344 -292.376495
2       -12.749118  253.352585  -61.494076  26.941326 -14.445943 -280.489258
3       -13.138362  251.758392  114.445343  26.816753 -13.710162 -283.236084
4       -13.584327  236.067963   16.464094  26.542381 -13.144435 -299.844543
...            ...         ...         ...        ...        ...         ...
1499995  23.986174  130.061783 -333.921936  -4.085264 -20.202623  204.804733
1499996  23.966404  167.235229 -345.413116  -3.079870 -21.205179  193.734528
1499997  24.216984  121.537064 -342.756134  -2.778104 -21.803228  196.691345
1499998  24.394741  174.552399 -344.987091  -2.081206 -22.651936  194.642563
1499999  24.647806  139.486465 -348.435059  -1.566520 -23.485435  191.337128

         label
0          3.0
1          3.0
2          3.0
3          3.0
4          3.0
...        ...
1499995    3.0
1499996    3.0
1499997    3.0
1499998    3.0
1499999    3.0

[1500000 rows x 7 columns]

In [4]:
# ПРОЦЕДУРА НЕОБЯЗАТЕЛЬНА и занимает некоторое время

# собираем все DataFrame'ы в один DataFrame 
data_full = pd.concat([data_iter[i] for i in range(len(data_iter))], ignore_index=True, sort=False)
data_full

,v_1,i_3,v_2,i_2,v_3,i_1,label
0,-125.253738,-24.287834,330.519867,22.242159,-192.438904,3.008112,0.0
1,-172.212433,-24.350483,331.956482,22.851290,-190.253326,2.451916,0.0
2,-163.295639,-24.382334,337.171875,23.583891,-184.354675,1.823028,0.0
3,-168.528625,-24.521708,336.399567,24.197058,-184.450928,1.305648,0.0
4,-181.449966,-24.620201,339.193451,24.997971,-180.946472,0.647593,0.0
...,...,...,...,...,...,...,...
33599995,130.061783,23.986174,-333.921936,-20.202623,204.804733,-4.085264,3.0
33599996,167.235229,23.966404,-345.413116,-21.205179,193.734528,-3.079870,3.0
33599997,121.537064,24.216984,-342.756134,-21.803228,196.691345,-2.778104,3.0
33599998,174.552399,24.394741,-344.987091,-22.651936,194.642563,-2.081206,3.0
33599999,139.486465,24.647806,-348.435059,-23.485435,191.337128,-1.566520,3.0

In [5]:
def split_measurements(measurements):
    num_measurements = len(measurements)
    train_measurements = measurements[:int(0.75 * num_measurements)]
    test_measurements = measurements[int(0.75 * num_measurements):]
    return train_measurements, test_measurements

# Разделяем каждый DataFrame на два DataFrame'a: тренировочный и тестовый
train_full, test_full = [], []
for i in range(len(data_iter)):
    train_full.append(split_measurements(data_iter[i])[0])
    test_full.append(split_measurements(data_iter[i])[1])

In [6]:
# Разделяем и объединяем все DataFrame'ы в два: тренировочный и тестовый
train_data = pd.concat([train_full[i] for i in range(len(train_full))])
print('тренировочный сет готов')
test_data = pd.concat([test_full[i] for i in range(len(test_full))])
print('тестовый сет готов')

тренировочный сет готов
тестовый сет готов

In [7]:
train_data

,v_1,i_3,v_2,i_2,v_3,i_1,label
0,-125.253738,-24.287834,330.519867,22.242159,-192.438904,3.008112,0.0
1,-172.212433,-24.350483,331.956482,22.851290,-190.253326,2.451916,0.0
2,-163.295639,-24.382334,337.171875,23.583891,-184.354675,1.823028,0.0
3,-168.528625,-24.521708,336.399567,24.197058,-184.450928,1.305648,0.0
4,-181.449966,-24.620201,339.193451,24.997971,-180.946472,0.647593,0.0
...,...,...,...,...,...,...,...
1124995,-196.251724,19.258904,-169.826599,6.020471,330.256134,-24.808594,3.0
1124996,-192.240387,19.740215,-114.705887,5.598088,334.540070,-24.816151,3.0
1124997,-195.945770,20.141342,-147.620377,5.189390,331.059540,-24.906719,3.0
1124998,-186.288254,20.821888,-158.291397,4.508002,340.789490,-24.837933,3.0
1124999,-190.645599,21.224396,-125.166336,4.230252,336.877289,-25.003820,3.0

In [8]:
test_data

,v_1,i_3,v_2,i_2,v_3,i_1,label
8100000,-175.380417,-25.504545,353.386688,26.587744,-162.427368,0.029366,0.0
8100001,-183.088791,-25.100723,346.136505,26.878139,-123.269989,-0.575861,0.0
8100002,-185.377029,-25.113119,343.601715,27.319870,-159.876831,-1.141877,0.0
8100003,-186.110352,-24.915501,342.752808,27.745775,-115.170792,-1.679566,0.0
8100004,-197.433716,-24.352638,331.854797,27.726664,-120.818130,-2.294428,0.0
...,...,...,...,...,...,...,...
1499995,130.061783,23.986174,-333.921936,-20.202623,204.804733,-4.085264,3.0
1499996,167.235229,23.966404,-345.413116,-21.205179,193.734528,-3.079870,3.0
1499997,121.537064,24.216984,-342.756134,-21.803228,196.691345,-2.778104,3.0
1499998,174.552399,24.394741,-344.987091,-22.651936,194.642563,-2.081206,3.0
1499999,139.486465,24.647806,-348.435059,-23.485435,191.337128,-1.566520,3.0

In [9]:
import numpy as np
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

# Импорт необходимых модулей из FEDOT
from fedot.core.repository.tasks import Task, TaskTypesEnum
from fedot.core.repository.dataset_types import DataTypesEnum
from fedot.core.data.data import InputData
from fedot.api.main import Fedot

In [10]:
# Разделяем данные на X и y
X_train = train_data.drop(columns=['label'])
y_train = train_data['label']
X_test = test_data.drop(columns=['label'])
y_test = test_data['label']

# Выводим информацию о сформированных наборах
print(f"Размер обучающей выборки: {X_train.shape}")
print(f"Размер тестовой выборки: {X_test.shape}")

Размер обучающей выборки: (25200000, 6)
Размер тестовой выборки: (8400000, 6)

In [ ]:
# Преобразуем DataFrame в numpy массив перед передачей в FEDOT
X_train_np = X_train.values
X_test_np = X_test.values

# Создание объекта InputData для обучающей выборки
train_input = InputData(idx=np.arange(0, len(X_train_np)),
                        features=X_train_np,
                        target=y_train.values,  # Преобразование y_train в numpy массив
                        task=Task(TaskTypesEnum.classification),
                        data_type=DataTypesEnum.table)

# Создание объекта InputData для тестовой выборки
test_input = InputData(idx=np.arange(0, len(X_test_np)),
                       features=X_test_np,
                       target=y_test.values,  # Преобразование y_test в numpy массив
                       task=Task(TaskTypesEnum.classification),
                       data_type=DataTypesEnum.table)

# Настройка FEDOT с пресетом на максимальную производительность без параметра cache
pipeline = Fedot(problem='classification', preset='auto', timeout=10)

# Обучение модели на обучающей выборке
pipeline.fit(train_input)

# Сохранение обученной модели
pipeline.current_pipeline.save(path="fedot_pipeline_anomaly_detection")

In [ ]:
import numpy as np
import pandas as pd
from fedot.api.main import Fedot
from fedot.core.data.data import InputData
from fedot.core.data.data import Task, TaskTypesEnum, DataTypesEnum
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score, precision_score, recall_score
import matplotlib.pyplot as plt
import seaborn as sns

# Предсказание на тестовой выборке
y_pred = pipeline.predict(test_input)

# Метрики на тестовой выборке
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
matrix = confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')

print(f'Accuracy на тестовой выборке: {accuracy}')
print(f'F1-score на тестовой выборке: {f1}')
print(f'Precision на тестовой выборке: {precision}')
print(f'Recall на тестовой выборке: {recall}')
print('Classification Report:\n', report)

# Визуализация матрицы ошибок
plt.figure(figsize=(10, 7))
sns.heatmap(matrix, annot=True, fmt='d', cmap='Blues')
plt.title('Confusion Matrix (Тестовая выборка)')
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()

In [ ]:
# Визуализация конфигурации пайплайна
pipeline.current_pipeline.show()

In [ ]:
# Сохранение обученной модели
pipeline.current_pipeline.save(path="fedot_pipeline_anomaly_detection (0-3 raw)")

# Сохранение предсказаний на тестовой выборке в CSV файл
output_path = "fedot_test_predictions (0-3 raw).csv"
pd.DataFrame({'True Labels': y_test.values, 'Predictions': y_pred.flatten()}).to_csv(output_path, index=False)
print(f"Результаты сохранены в {output_path}")